# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environments
.env

# VS Code
.vscode/

# Python
*.py[cod]
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt